# app
NEXT_PUBLIC_APP_URL = "https://spritepixel.com"
NEXT_PUBLIC_APP_NAME = "SpritePixel"
NEXT_PUBLIC_APP_DESCRIPTION = "A project-based AI game asset studio for indie developers."
NEXT_PUBLIC_APP_LOGO = "/logo.png"
NEXT_PUBLIC_APP_FAVICON = "/favicon.ico"
NEXT_PUBLIC_APP_PREVIEW_IMAGE = "/preview.png"

# theme
NEXT_PUBLIC_THEME = "default"

# appearance
NEXT_PUBLIC_APPEARANCE = "dark"

# database
DATABASE_PROVIDER = "sqlite"
DATABASE_URL = "file:data/local.db"
DB_SCHEMA_FILE = "./src/config/db/schema.sqlite.ts"
DB_MIGRATIONS_OUT = "./src/config/db/migrations_sqlite"
DB_SINGLETON_ENABLED = "true"
DB_MAX_CONNECTIONS = "1"

# d1
DATABASE_PROVIDER="d1"
DATABASE_URL="file:.wrangler/state/v3/d1/miniflare-D1DatabaseObject/xxxxxxxx.sqlite"
DB_SCHEMA_FILE="./src/config/db/schema.sqlite.ts"
DB_MIGRATIONS_OUT="./src/config/db/migrations_d1"
DB_SINGLETON_ENABLED="true"
DB_MAX_CONNECTIONS="1"

# auth secret
# openssl rand -base64 32
AUTH_SECRET = ""
NEXT_PUBLIC_LOCALE_DETECT_ENABLED = "false"
