name = "your-app-name"
main = ".open-next/worker.js"
compatibility_date = "2026-07-23"
compatibility_flags = [
  "nodejs_compat",
  "global_fetch_strictly_public"
]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[[r2_buckets]]
binding = "NEXT_INC_CACHE_R2_BUCKET"
bucket_name = "your-app-inc-cache"

[[services]]
binding = "WORKER_SELF_REFERENCE"
service = "your-app-name"

[[durable_objects.bindings]]
name = "NEXT_CACHE_DO_QUEUE"
class_name = "DOQueueHandler"

[[durable_objects.bindings]]
name = "NEXT_TAG_CACHE_DO_SHARDED"
class_name = "DOShardedTagCache"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["DOQueueHandler", "DOShardedTagCache"]

[cache]
enabled = true

[[d1_databases]]
binding = "DB"
database_name = ""
database_id = ""
migrations_dir = "src/config/db/migrations_d1"

[[kv_namespaces]]
binding = "CONFIG_CACHE"
id = ""

[[hyperdrive]]
binding = "HYPERDRIVE"
id = ""
localConnectionString = ""

[observability]
enabled = true

[vars]
# app
NEXT_PUBLIC_APP_URL = "http://localhost:3000"
NEXT_PUBLIC_APP_NAME = "Your App Name"

# theme
NEXT_PUBLIC_THEME = "default"

# appearance
NEXT_PUBLIC_APPEARANCE = "dark"

# database
DATABASE_PROVIDER = "postgresql"
DATABASE_URL = ""
DB_SINGLETON_ENABLED = "true"
DB_MAX_CONNECTIONS = "1"

# auth secret
# openssl rand -base64 32
AUTH_SECRET = ""
